#list-input-button {
  padding: 2px;
  display: flex;
  align-items: center;
  .list-input-icon {
    cursor: pointer;
    padding: 3px;
    font-size: 22px;
    color: #777777;
  }
}
#list-input-button:hover {
  background: rgb(219, 219, 219);
}

.delete-pop {
  cursor: pointer;
}
.user-popover-wrap {
  .rs-popover {
    padding: 0;
  }

  .user-popover {
    .btn {
      cursor: pointer;
      padding: 12px;
    }
    .btn:hover {
      background-color: rgb(224, 224, 224);
    }
  }
}
